/**
 * Note Form
 */
.comment-btn {
  @extend .btn-create;
}

.diff-file .diff-content {
  tr.line_holder:hover > td .line_note_link {
    opacity: 1.0;
    filter: alpha(opacity = 100);
  }
}

.diff-file,
.discussion {
  .new-note {
    margin: 0;
    border: none;
  }
}

.new-note {
  display: none;
}

.new-note, .note-edit-form {
  .note-form-actions {
    margin-top: $gl-padding;
  }

  .note-preview-holder {
    > p {
      overflow-x: auto;
    }
  }

  img {
    max-width: 100%;
  }
}

.note-textarea {
  display: block;
  padding: 10px 0;
  color: $gl-gray;
  font-family: $regular_font;
  border: 0;

  &:focus {
    outline: 0;
  }
}

.note-image-attach {
  @extend .col-md-4;
  margin-left: 45px;
  float: none;
}

.common-note-form {
  .md-area {
    padding: $gl-padding-top $gl-padding;
    border: 1px solid $note-form-border-color;
    border-radius: $border-radius-base;
    transition: border-color ease-in-out 0.15s,
                box-shadow ease-in-out 0.15s;

    &.is-focused {
      @extend .form-control:focus;

      .comment-toolbar,
      .nav-links {
        border-color: $focus-border-color;
      }
    }

    &.is-dropzone-hover {
      border-color: $gl-success;
      box-shadow: 0 0 2px $black-transparent,
                  0 0 4px $gl-success-focus;

      .comment-toolbar,
      .nav-links {
        border-color: $gl-success;
      }
    }
  }
}

.md-header .nav-links {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  width: 100%;

  .pull-right {
    // Flexbox quirk to make sure right-aligned items stay right-aligned.
    margin-left: auto;
  }
}

.confidential-issue-warning {
  background-color: $gray-normal;
  border-radius: 3px;
  padding: 3px 12px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  font-size: 13px;

  @media (max-width: $screen-md-min) {
    // On smaller devices the warning becomes the fourth item in the list,
    // rather than centering, and grows to span the full width of the
    // comment area.
    order: 4;
    -webkit-order: 4;
    margin: 6px auto;
    width: 100%;
  }
}

.discussion-form {
  padding: $gl-padding-top $gl-padding;
  background-color: $white-light;
}

.note-edit-form {
  display: none;
  font-size: 15px;

  .md-area {
    background-color: #fff;
  }
}

.js-note-attachment-delete {
  display: none;
}

.parallel-comment {
  padding: 6px;
}

.error-alert > .alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.discussion-body,
.diff-file {
  .notes .note {
    padding: 10px 15px;
  }

  .discussion-reply-holder {
    background-color: $white-light;
    padding: 10px 16px;
  }
}

.discussion-with-resolve-btn {
  display: table;
  width: 100%;
  border-collapse: separate;
  table-layout: auto;

  .btn-group {
    display: table-cell;
    float: none;
    width: 1%;

    &:first-child {
      width: 100%;
      padding-right: 5px;
    }

    &:last-child {
      padding-left: 5px;
    }
  }

  .btn {
    width: 100%;
  }
}

.discussion-notes-count {
  font-size: 16px;
}

.edit_note {
  .markdown-area {
    min-height: 140px;
    max-height: 500px;
  }

  .note-form-actions {
    background: transparent;
  }
}

.comment-toolbar {
  padding-top: $gl-padding-top;
  color: $note-toolbar-color;
  border-top: 1px solid $border-color;
}

.md-helper {
  padding-top: 10px;
}

.toolbar-button {
  padding: 0;
  background: none;
  border: 0;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    color: $gl-link-color;
    outline: 0;
  }

  @media (min-width: $screen-md-min) {
    float: left;
    margin-right: $gl-padding;

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

.toolbar-button-icon {
  position: relative;
  top: 1px;
  margin-right: 3px;
  color: inherit;
  font-size: 16px;
}

.toolbar-text {
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $screen-md-min) {
    float: left;
  }
}

.note-form-actions {
  @media (max-width: $screen-xs-max) {
    .btn {
      float: none;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
